name: Secret Scan

on:
  pull_request:
    branches:
      - main

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install detect-secrets
      run: pip install detect-secrets

    - name: Run detect-secrets
      run: detect-secrets scan > .secrets.baseline

    - name: Upload baseline artifact
      uses: actions/upload-artifact@v4
      with:
        name: secrets-baseline
        path: .secrets.baseline
